#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>

/ {
    trackball_scaler: trackball_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_X>, <INPUT_REL_Y>;
        track-remainders;
    };
};